<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %} {% endblock %}
  <title>Chapter and Verse</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='site.web.webmanifest')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght,ELXP@100..900,5&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet">

  <script>
    const savedTheme = localStorage.getItem('theme') || 'autumn';

    document.documentElement.setAttribute('data-theme',savedTheme);
  </script>

</head>

<body class="container-grid h-dvh">
  <div class="bg-base-200 full-width shadow-lg h-fit">
    <nav class="navbar">
      <div class="flex-1">
        <a href="{{url_for('home')}}" class="btn btn-ghost text-xl font-[Playfair_Display] italic">Chapter and Verse</a>
      </div>

      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
              viewBox="0 0 512 512">
              <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
            </svg>
          </div>
          <ul tabindex="-1"
            class="menu menu-sm dropdown-content bg-base-100 rounded-sm z-1 mt-3 w-52 p-2 shadow border-primary border-2">
            <li>
              <a href="/home" class="justify-between">
                Home
              </a>
            </li>
            <li>
              <div class="flex flex-row justify-between">
                <p id="theme-selector-label">Enable dark theme</p>
                <input id="theme-selector" type="checkbox" class="checkbox invisible" />
              </div>
            </li>
            {% if g.user %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <main class="full-width">
    {% block body %}{% endblock %}
  </main>

  {# <footer class="text-center absolute bottom-4 place-self-center max-h-0">
    <p class="font-[Bitcount_Prop_Single] font-light px-6 py-1 mx-auto w-fit rounded-3xl">
      Coded by <span class="font-medium">Byron&#8482;</span>
    </p>
  </footer> #}
  <script>
    const elem = document.getElementById('theme-selector');

    if((localStorage.getItem('theme') || 'autumn') == 'autumn') {
      elem.checked = false;
      document.getElementById('theme-selector-label').innerText = "Enable dark theme";
    } else {
      elem.checked = true;
      document.getElementById('theme-selector-label').innerText = "Disable dark theme";
    }

    elem.closest('li').addEventListener('click', (e) => {
      console.log('a');
      elem.checked = !elem.checked;

      if(elem.checked) {
        localStorage.setItem('theme', 'coffee');
        document.getElementById('theme-selector-label').innerText = "Disable dark theme";

      } else {
        localStorage.setItem('theme', 'autumn');
        document.getElementById('theme-selector-label').innerText = "Enable dark theme";
      }
      document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'));
      elem.disabled=true;
    });

  </script>
</body>


</html>
