@import 'tailwindcss';

@plugin "daisyui" {
  themes: autumn --default, coffee;
}

@custom-variant move-thing {
  &:not(:is(:where(.peer):placeholder-shown ~ *)),
  &:is(:where(.peer):focus ~ *) {
    @slot;
  }
}

@layer components {
  ._card-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: 200px auto auto;
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
  }

  ._card {
    border-radius: 10px;

    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    padding-bottom: 10px;

    position: relative;
    overflow: hidden;

    transition: transform 250ms;

    color: var(--color-primary-content);

    border-style: var(--tw-border-style);
    border-width: 4px;
    border-color: var(--color-base-300);

    img {
      position: absolute;
      inset: 0;
      size: 100%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .container-grid {
    @media screen {
      --container-size: var(--container-sm);
    }

    @media screen and (min-width: 640px) {
      --container-size: 640px;
    }

    @media screen and (min-width: 960px) {
      --container-size: 960px;
    }

    display: grid;
    grid-template-columns:
      [full-start] 1fr [content-start] var(--container-size)
      [content-end] 1fr [full-end];
  }

  .full-width {
    display: grid;
    grid-template-columns: subgrid;
  }

  body.container-grid {
    grid-template-rows: fit-content(0%);
  }

  .full-width > *,
  .container-grid > * {
    grid-column: content;
  }

  .full-col,
  .container-grid > .full-width {
    grid-column: full;
  }
}
