{% extends 'base.html' %}

{% block title %}
<title>C&V - Authors</title>
{% endblock %}

{% block body %}
<section class="py-12">
  <div class="flex flex-row justify-between items-baseline">
    <h3 class="text-4xl mb-4">Authors</h3>
    <a href="{{url_for('authors.new_author')}}" class="italic text-primary/70 underline ">Add new</a>
  </div>
  <div class="_card-box">
    {% for author in authors %}
    <div class="_card">
      <img src="{{url_for('authors.author_image', id=author['id'])}}" class="object-cover w-full h-full absolute inset-0 z-0 object-center" />
      <div></div>
      <div class="grid grid-rows-subgrid row-span-2 bg-primary/50 pb-2 border-y-current/50 border-y-4 z-1">
        <h1 class="pt-2 px-2 font-semibold -mb-1">{{author['name']}}</h1>
        <p class="px-2 text-sm text-primary-content/60 italic">{{author['dob']}}</p>
      </div>
      <a href="{{url_for('authors.author', id=author['id'])}}" class="before:absolute before:inset-0"></a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
