{%extends "auth/auth.html" %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<div>
<h3 class="text-center py-2">Register</h3>
<form id="register" action="register" method="post" class="flex flex-col">
  <div class="mb-4 w-full">
    <label for="username" class="label">Username</label>
    <input name="username" type="text" class="input w-full">
  </div>
  <div class="mb-4 w-full">
    <label for="password" class="label">Password</label>
    <input name="password" type="password" class="input w-full">
  </div>
  <div class="mb-4 w-full">
    <label for="passwordconfirm" class="label">Confirm password</label>
    <input name="passwordconfirm" type="password" class="input w-full">
  </div>
  <div class="w-full flex justify-between items-center">
    <p class="italic ml-2 font-light text-base-content/60">or <a class="underline" href="{{url_for('auth.login')}}">login</a></p>
    <input type="submit" class="btn w-fit px-8 float-right responsive" value="Register">
  </div>
  {% if error %}
  <div>
    <p class="text-sm italic text-error/50">{{ error }}</p>
  </div>
  {% endif %}
</form>
</div>
{% endblock %}
